form {
  font-family: "Roboto", sans-serif;
}

h2 {
  font-family: "Explora", serif;
  font-size: 36px;
  margin-bottom: 20px;
}

.form-input {
  font-family: "Roboto", sans-serif;
  margin-right: 10px;
  padding: 5px;
}

.form-container {
  display: grid;
  grid-template-columns: max-content 1fr 2fr;
  row-gap: 10px;
}

.date-input {
  font-family: "Roboto", sans-serif;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.action-buttons {
  display: flex;
  gap: 10px;
  margin-top: 20px;
  justify-content: center;
}

.submit-button {
  background-color: #92c7cf;
  color: white;
  border: none;
  padding: 10px 20px;
  margin-right: 10px;
  cursor: pointer;
  border-radius: 5px;
}
.cancel-button {
  background-color: #92c7cf;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
}
.submit-button:hover {
  background-color: #aad7d9;
}
.cancel-button:hover {
  background-color: #aad7d9;
}
