body {
  background-image: url("/sunbeamsinsky.jpg");
  background-size: cover;
  background-position: center;
  max-height: 100vh;
  margin: 0;
  background-attachment: fixed;
  background-color: #599ba2;
}
